main{
    margin-left: 50px;
    margin-right: 50px;
}
header{
    display: flex;
    height: 150px;
    padding-top: 30px;
}
header #two{
    flex: 2;
}
header #one{
    flex: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    text-decoration: none;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
nav ul li button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
a{
    padding: 50px;
    text-decoration: none;
    color: black;
}
.caseStudy{
    display: block;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 30px;
}
.caseStudy section{
    padding: 45px;
}
.caseStudy .left{
    flex: 3;
    margin-left: 20px;
}
.caseStudy .left p{
    margin-right: 200px;
}
.caseStudy .right{
    flex: 1;
}
.caseStudy .right .info{
    display: block;
    border: 1px solid lightgray;
    border-radius: 30px;
    text-align: center;
}
footer{
    height: 150px;
    text-align: center;
}