@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    H1{
        /* font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
        padding-bottom: 32px; */
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-size: 48px;
        font-style: normal;
        margin-bottom: 10px;
    }
    H2{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    footer H2{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    H3{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    p{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    ul li p, ol li p, .smolP{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    footer p{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
        padding-bottom: 8px;
    }
    a{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
        font-size: 16px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    footer a{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        text-decoration: underline;
        font-style: normal;
        font-size: 16px;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    footer a:hover{
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        text-decoration: underline;
        font-style: normal;
        font-size: 16px;
        color: rgb(0, 0, 238);
        letter-spacing: 0.03em;
        line-height: 140%;
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        background-image: url(images/meImg.png);
        background-size: contain;
        background-position: center top; 
        background-repeat: no-repeat;
        font-family: "Assistant", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: white;
    }
    main{
        margin: 0 170px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 1.6
    }
    #query {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto; 
    }
    header{
        display: flex;
        height: 150px;
        padding-top: 30px;
    }
    header #hLogo{
        flex: 1;
    }
    /* header #two{
        flex: 1;
        width: 500px;
    }
    header #two h2{
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 30px;
    } */
    header #one{
        flex: 1;
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 4px;
    }
    header #one a{
        text-align: center;
        text-decoration: none;
    }
    #home a:hover{
        text-decoration: underline;
    }
    #aboutMe a:hover{
        text-decoration: underline;
    }
    #studio a:hover{
        text-decoration: underline;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: content;
        list-style: none;
        padding-left: 4px;
        padding-right: 4px;
    }
    nav ul li a{
        width: 150px;
        height: 50px;
        border-radius: 20px;
        background: none; 
        border: none; 
        outline: none;
        text-align: center; 
        display: inline-block;
    }
    .ctaCM{
        display: flex;
    }
    .ctaCM div{
        flex: 1;
    }
    #intro{
        margin-top: 8px;
        margin-bottom: 64px;
    }
    #intro #ctaBtn{
       background-color: rgb(94, 95, 94, 0.5);
       border: solid 1px rgb(94, 95, 94);
       border-radius: 20px;
       padding: 15px 45px;
    }
    #intro #ctaBtn a{
        color: white;
     }
    #intro #ctaBtn:hover{
        background-color: rgb(255, 255, 255, 0.4);
        border: solid 1px white;
        border-radius: 20px;
        box-shadow: 0px 0px 25px rgba(82, 209, 252, 0.6), 0px 0px 30px rgba(207, 240, 255, 0.5), 0px 0px 45px rgba(229, 156, 252, 0.4);
        color: rgb(94, 95, 94);
    }
    #intro #ctaBtn p{
        text-align: center;
        align-items: center;
        padding: 15px 45px;
    }
    #intro #helloMe{
        padding-left: 250px;
    }
    #amIntro{
        padding-bottom: 100px;
        padding-left: 100px;
        width: 850px;
    }
    #amIntro h2{
        text-align: center;
        margin-bottom: 20px;
    }
    #amIntro p{
        margin-top: 0px;
    }
    #amIntro article {
        display: flex;
        flex-direction: column;
    }
    .data{
        display: flex;
        gap: 64px;
    }
    .introdwp{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .introdwp img{
        padding-top: 8px;
    }
    #fillTime{
        flex: 3;
    }
    #exp{
        flex: 2;
        justify-content: center;
    }
    #exp h3{
        margin-top: 36px;
    }
    #exp p{
        margin-bottom: 8px;
    }
    #exp .smolP{
        padding-bottom: 16px;
    }
    footer{
        width: 100%;
        margin: 64px auto 0 auto;
        height: 256px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 8px 112px 0px 112px;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(94, 95, 94);
        box-sizing: border-box;
    }
    #footerData{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    /* #footerData div{
        flex: content;
    } */
    #fOne{
        flex: 1;
        margin-right: 200px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fTwo{
        flex: 1;
    }
    .fTwoP{
        margin-bottom: 8px;
    }
    #footerDataP{
        font-weight: 300;
    }
    /* #footerLogo{
        margin-right: 16px;
    } */
    #opacity{
        width: 100%;
        height: 1px;
        opacity: 0.4;
        margin: 60px 0px 0px;
    }
    #footTitle{
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 16px;

        background-image: radial-gradient(circle, rgba(94, 95, 94, 0.7) 20%, rgba(82, 209, 252, 0.6) 41%, rgba(207,240,255,1) 66%, rgba(229,156,252,0.7) 88%);
        background-size: 300% 300%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        animation: footerGradientSwipe 10s ease-in-out forwards;
        animation-play-state: paused; /* Paused until we tell it to play */
    }
    @keyframes footerGradientSwipe {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 50% 50%;
            background-image: none;
            color: rgba(94, 95, 94); /* Final solid color */
        }
    }
    footer #footLink{
        display: flex;
        justify-content: space-around;
    }
    footer #footLink a{
        text-decoration: none;
    }
    footer #footLink div {
        flex-direction: row;
        align-items: center; 
    }
    .footA{
        line-height: 150%;
        margin: 0px;
        padding: 0px
    }
    footer #btmfoot {
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        letter-spacing: 0.03em;
        line-height: 100%;
        margin: 24px auto 0px auto;
      
        display: inline-block; /* Crucial */
        background-image: radial-gradient(
            circle,
            rgba(94, 95, 94, 0.7) 10%,
            rgba(82, 209, 252, 0.7) 30%,
            rgba(207, 240, 255, 1) 31%,
            rgba(229, 156, 252, 1) 32%
        );
        background-size: 300% 300%;
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}
@media screen and (min-width: 1240px) {
    #intro {
        margin-top: 110px;
        margin-bottom: 250px;
    }
}
@media screen and (min-width: 1440px) {
    #intro {
        margin-top: 155px;
        margin-bottom: 300px;
    }
}
@media screen and (min-width: 1600px) {
    #intro {
        margin-top: 185px;
        margin-bottom: 400px;
    }
}
@media screen and (min-width: 1700px) {
    #intro {
        margin-top: 205px;
        margin-bottom: 450px;
    }
}
    
@media screen and (min-width: 1900px) {
    #intro {
        margin-top: 240px;
        margin-bottom: 520px;
    }
}