@media screen and (max-width: 767px){
    html, body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        background-color: white;
    }
    main{
        margin: 120px 16px 96px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    #helloMe{
        margin-top: 32px;
    }
    #hmw{
        margin: 32px 0px;
        padding: 8px 8px;
        background: rgb(246, 246, 247);
        border: 1px solid transparent;
        border-image: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.7) 20%, 
          rgba(45, 140, 190, 0.6) 41%, 
          rgba(87, 132, 199, 1) 66%, 
          rgba(169, 108, 208, 0.7) 88%
        ) 1;
    }
    #headShot img{            
        justify-content: center;
        padding-top: 24px;
    }
    #quote {
        display: flex;              
        justify-content: center;  
        align-items: center;     
        text-align: center;      
        height: 150px;
        border-top: 1px solid #A7CFCF;
        border-bottom: 1px solid #A7CFCF;
        margin: 64px 0;
        padding: 0 16px;    
    }
    #quote h3 {
        max-width: 850px;  
        font-weight: 300;  
        font-style: italic;    
        line-height: 1.4;
    }
    .fauxp{
        font-family: "Newsreader", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        color: rgb(48, 48, 66);
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    .obsessions img {
        opacity: 0;
        transform: translateX(-50px);
    }
    .obsessions.show img {
        animation: slideIn 0.8s forwards;
    }  
    .obsessions.show img:nth-child(1) { animation-delay: 0.6s; }
    .obsessions.show img:nth-child(2) { animation-delay: 1.2s; }
    .obsessions.show img:nth-child(3) { animation-delay: 1.8s; }
    .obsessions.show img:nth-child(4) { animation-delay: 2.8s; } 
    @keyframes slideIn {
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
    #exp{
        flex: 1;
        justify-content: center;
        margin-left: 16px;
    }
    #exp h3{
        margin-top: 32px;
    }
    #exp p{
        margin-bottom: 0px;
        font-size: 18px;
    }
    #exp .smolP{
        margin-top: 8px;
        padding-bottom: 16px;
    }
    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        background-color: white;
    }
    main{
        margin: 112px 24px 0px 24px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    #query {
        width: 100%;
        margin: 0 auto; 
    }
    /* .blue{
        color: #06B6FD;
    }
    .bluegreen{
        color: #A7CFCF;
    }
    .pinkish{
        color: #E59CFC;
    } */
    .dataFillTime{
        display: flex;
        gap: 24px;
    }
    .data{
        display: flex;
    }
    .data2{
        display: flex;
        margin-bottom: 96px;
    }
    #fillTime{
        flex: 1.2;
    }
    #headShot{
        flex: 1;
        display: flex;              
        justify-content: center;
        padding-top: 24px;
    }
    #quote {
        display: flex;              
        justify-content: center;  
        align-items: center;     
        text-align: center;      
        height: 250px;
        border-top: 1px solid #A7CFCF;
        border-bottom: 1px solid #A7CFCF;
        margin: 160px 0;
        padding: 0 16px;    
    }
    #quote h3 {
        max-width: 850px;  
        font-weight: 300;  
        font-style: italic;    
        line-height: 1.4;
    }
    #mco{
        flex: 1;
    }
    #hmw{
        margin: 32px 0px;
        padding: 8px 8px;
        background: rgb(246, 246, 247);
        border: 1px solid transparent;
        border-image: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.7) 20%, 
          rgba(45, 140, 190, 0.6) 41%, 
          rgba(87, 132, 199, 1) 66%, 
          rgba(169, 108, 208, 0.7) 88%
        ) 1;
    }
    .fauxp{
        font-family: "Newsreader", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        color: rgb(48, 48, 66);
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    .obsessions {
        display: flex;
        gap: 16px; 
    }
    .obsessions img {
        opacity: 0;
        transform: translateX(-50px);
    }
    .obsessions.show img {
        animation: slideIn 0.8s forwards;
    }  
    .obsessions.show img:nth-child(1) { animation-delay: 0.2s; }
    .obsessions.show img:nth-child(2) { animation-delay: 0.4s; }
    .obsessions.show img:nth-child(3) { animation-delay: 0.6s; }
    .obsessions.show img:nth-child(4) { animation-delay: 0.8s; } 
    @keyframes slideIn {
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
    #exp{
        flex: 1;
        justify-content: center;
        margin-left: 16px;
    }
    #exp h3{
        margin-top: 32px;
    }
    #exp p{
        margin-bottom: 0px;
        font-size: 18px;
    }
    #exp .smolP{
        margin-top: 8px;
        padding-bottom: 16px;
    }
    .fade-in {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.8s ease, transform 0.8s ease;
    }
    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (min-width: 1240px) {
    /* #intro {
        margin-bottom: 144px;
    } */
}
@media screen and (min-width: 1440px) {
    /* #intro {
        margin-top: 40px;
        margin-bottom: 296px;
    } */
}
@media screen and (min-width: 1600px) {
    /* #intro {
        margin-top: 72px;
        margin-bottom: 358px;
    } */
}
@media screen and (min-width: 1700px) {
    /* #intro {
        margin-top: 88px;
        margin-bottom: 406px;
    } */
}    
@media screen and (min-width: 1900px) {
    /* #intro {
        margin-top: 128px;
        margin-bottom: 478px;
    } */
}
