@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */

@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        background-image: url(images/whiteInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top; 
        background-repeat: no-repeat;
    }
    main{
        margin: 0 24px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 1.6
    }
    #query{
        width: 100%;
        margin: 300 auto; 
    }
    .spaceBtwn{
        margin-top: 200px;
        margin-bottom: 96px;
        transform: scale(0.9);
        opacity: 0.4;
        transition: opacity 0.8s ease, transform 0.5s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
        transform: scale(1);
    }
    #topBG{
        margin-top: 32px;
    }
    #infoBox p{
        color: rgb(94, 95, 94) !important;
        width: 475px;
    }
    #arrowContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 32px;
        left: 50%;
        z-index: 5;
    }
    #arrow {
        animation: moveUpDown 1s ease infinite;
        width: 80px;
        height: 80px;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    }
    article{
        width: calc(100% - 0px);
        margin: none;
    }
    img{
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 20px;
    }
    .data div{
        flex: 1;
    }
    .painPT{
        width: 160px;
        height: 160px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(243, 159, 173);
    }
    .animate #sOne{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sOne 2s linear forwards;
    }
    .animate #sTwo{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sTwo 2s linear forwards;
    }
    .animate #sThree{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sThree 2s linear forwards;
    }
    .animate #sFour{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sFour 2s linear forwards;
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes sOne{
        100%{
            stroke-dashoffset: 420;
        }
    }
    @keyframes sTwo{
        100%{
            stroke-dashoffset: 434;
        }
    }
    @keyframes sThree{
        100%{
            stroke-dashoffset: 293;
        }
    }
    @keyframes sFour{
        100%{
            stroke-dashoffset: 274;
        }
    }
    .center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        margin-top: 10px;
    }
    #pinkLink{
        color: rgb(243, 159, 173);
    }
    .figFix{
        margin: 0px;
    }
    .figCenter{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 0px 110px;
    }
    .figCenterEx{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 0px 300px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 9998; 
    }
    .selected {
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(3);
        z-index: 9999;
    }
    .selected img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}   
@media screen and (min-width: 1650px){
    body{
        background-image: url(images/umeInfoBG.png);
        background-size: 100% 850px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 10px;
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 1850px){
    body{
        background-image: url(images/umeInfoBG.png);
        background-size: 100% 950px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 50px;
        margin-bottom: 150px;
    }
}