body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main{
    margin: 0 170px;
    box-sizing: border-box;
    color: rgb(94, 95, 94);
}
header{
    display: flex;
    height: 150px;
    padding-top: 30px;
}
header #two{
    flex: 2;
}
header #two h2{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
}
header #one{
    flex: 1;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
    color: rgb(94, 95, 94);
}
header #one a{
    text-align: center;
    text-decoration: none;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
nav ul li button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background: none; 
    border: none; 
    outline: none;
    text-align: center; 
    display: inline-block;
}
#intro{
    display: flex;
}
#intro #logo{
    flex: 1;
}
#intro #info{
    flex: 2;
    text-align: right;
}
#role{
    display: flex;
}
#out{
    flex: 1;
}
#in{
    flex: 2;
}


footer {
    width: 100%;
    margin: 0;
    margin-top: 40px;
    height: 250px;
    text-align: center;
    align-items: center;
    padding: 20px;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(94, 95, 94);
}
#footTitle{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 0px;
}
footer #footLink{
    display: flex;
    justify-content: space-around;
}
footer #footLink a{
    text-decoration: none;
}
footer #footLink div {
    flex: 1;
    flex-direction: row;
    align-items: center; 
}