@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(images/meImg.png);
        background-size: contain;
        background-position: center top; 
        background-repeat: no-repeat;
        font-family: "Assistant", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: #F2F2F2;
    }
    main{
        margin: 0 170px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 1.6
    }
    header{
        display: flex;
        height: 100px;
        padding-top: 5px;
    }
    header #hLogo{
        flex: 1;
    }
    header #two{
        align-content: center;
        flex: 2;
    }
    header #one{
        display: flex;
        justify-content: flex-end;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 12px;
        margin-left: 0px;
    }
    a{
        text-decoration: none;
        color: rgb(94, 95, 94);
    }
    header #one a{
        text-align: center;
        text-decoration: none;
    }
    nav ul{
        display: flex;
        list-style-type: none;
        padding: 0px;
    }
    nav ul li{
        padding-left: 20px;
        padding-right: 20px;
    }
    nav ul li button {
        width: 100px;
        height: 40px;
        background: none; 
        border: none; 
        outline: none;
        
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
        padding: 0; 
    }
    nav ul li button a {
        text-decoration: none;
    }
    #aboutMe{
        position: relative;
    }
    #aboutMe::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px; /* Thickness of the border */
        background: linear-gradient(to right, rgba(82, 209, 252, 0.6) 20%, rgba(207, 240, 255, 1) 41%, rgba(229, 156, 252, 0.7) 66%);
        filter: 
        drop-shadow(0px 6px 10px rgba(166, 235, 255, 0.8)) 
        drop-shadow(0px 6px 10px rgba(255, 182, 231, 0.6)) 
        drop-shadow(0px 6px 10px rgba(188, 160, 255, 0.7));
    }
    #aboutMe:hover a{
        transform: scale(1.15); 
    }
    #home:hover{
        transform: scale(1.15);
    }
    #studio:hover{
        transform: scale(1.15);
    }
    .ctaCM{
        display: flex;
    }
    .ctaCM div{
        flex: 1;
    }
    #intro{
        margin-top: 155px;
        margin-bottom: 300px;
    }
    #intro h1{
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-size: 48px;
        font-style: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 1.4;
    }
    #intro h2, h2{
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #intro p{
        margin-bottom: 0px;
        margin-top: 0px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    #intro #ctaBtn{
       background-color: rgb(94, 95, 94);
       border: solid 1px rgb(94, 95, 94);
       border-radius: 20px;
    }
    #intro #ctaBtn p a{
        color: white;
     }
    #intro #ctaBtn:hover{
        background-color: rgb(255, 255, 255, 0.4);
        border: solid 1px white;
        border-radius: 20px;
        box-shadow: 0px 0px 25px rgba(82, 209, 252, 0.6), 0px 0px 30px rgba(207, 240, 255, 0.5), 0px 0px 45px rgba(229, 156, 252, 0.4);
        color: rgb(94, 95, 94);
    }
   #intro #ctaBtn p{
        text-align: center;
        align-items: center;
        padding: 15px 45px;
    }
    #intro #helloMe{
        padding-left: 250px;
    }
    .data{
        display: flex;
    }
    .boldText{
        padding: 25px;
        padding-bottom: 0px;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    /* h3{
        padding: 25px;
        padding-bottom: 0px;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-left: 0px;
    } */
    .two{
        flex: 2;
        padding-left: 0px;
    }
    .two p{
        padding-left: 10px;
        margin-right: 40px;
    }
    #one{
        flex: 1;
        justify-content: center;
        margin-left: 50px;
    }
    #amIntro{
        padding-bottom: 100px;
    }
    #amIntro div {
        width: 800px;
        margin-left: 200px;
    }
    #amIntro div .boldText{
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .fillTime{
        padding-right: 50px;
    }
    .exp{
        flex: 1;
        justify-content: center;
        margin-left: 0px;
    }
    #textCase p{
        text-align: left;
        padding-left: 15px;
    }
    footer {
        width: 100%;
        margin: 0;
        margin-top: 60px;
        height: 250px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-left: 0px;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(94, 95, 94);
    }
    #footTitle{
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 0px;
    }
    footer #footLink{
        display: flex;
        justify-content: space-around;
    }
    footer #footLink a{
        text-decoration: none;
    }
    footer #footLink div {
        flex: 1;
        flex-direction: row;
        align-items: center; 
    }
}
