@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */

@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        /* background-image: url(images/newInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top; 
        background-repeat: no-repeat; */
    }
    .hero-content {
        top: 55%;
        left: 0px;/* align to page gutter */
        max-width: 1392px;
        z-index: 4;
        margin: 24px;
    }
    .logoIntro{
        display: flex;
        margin: 24px 0px 145px;
    }
    #introLine{
        margin-top: 145px;
        margin-bottom: 65px;
    }
    #logoimg{
        justify-items: center;
        align-content: center;
        margin-right: 16px;
    }
    #logotx h1, #logotx p{
        margin: 0px;
        width: 700px;
    }
    #infoBox{
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
    #infoBox div{
        flex: content;
    }
    #infoBox h3, #infoBox p{
        margin: 0px;
    }
    main{
        margin: 0px 24px;
        box-sizing: border-box;
    }
    main .smolP{
        color: rgb(48, 48, 66, 0.9);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
        margin: 0px;
    }
    #query{
        width: 100%;
        margin: 0 auto; 
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 32px;
    }
    .dataCallout{
        flex: 1;
    }
    .dataimg{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .datatext{
        flex: 4;
    }
    .data h2, h3{
        margin-top: 0px;
    }
    .data420{
        flex: 2.5;
        /* width: 420px;
        padding-right: 88px; */
    }
    .newMargin{
        margin-left: 170px; 
        margin-right: 170px;
    }
    #hmw{
        background: rgb(246, 246, 247);
        border: 1px solid rgb(196, 196, 196);
        padding: 16px 24px;
    }
    .callout{
        background-color: rgb(249, 251, 252);
        border: 2px solid rgb(211,231,231);
        border-radius: 20px;
        padding: 24px;
    }
    #calloutCenter{
        align-items: end;
        justify-content: center;
        text-align: center;
    }
    .callout h1{
        margin: 0px;
        margin-bottom: -5px;
    }
    .list{
        display: flex;
        align-items: center;
        gap: 16px; 
    }
    .lightAquaText{
        color: rgb(211,231,231);
        margin: 0px 16px;
    }
    .aquaText{
        color: rgb(82,163,163);
    }
    hr.vertical-line {
        border: none;
        width: 2px;
        height: 150px; 
        background-color: rgb(236, 241, 244);
        margin: 0; 
    }
    #backgroundColor{
        background-color: rgb(82,163,163);
    }
    #leftcsLink{
        padding: 16px 24px;
        width: 500px;
    }
    #leftcsLink h2{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #leftcsLink:hover{
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #rightcsLink{
        padding: 16px 24px;
        width: 500px;
    }
    #rightcsLink h2{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #rightcsLink:hover{
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
}