main{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    display: flex;
    height: 500px;
    padding-top: 30px;
    
}
header #two{
    flex: 2;
}
header #one{
    flex: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    text-decoration: none;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
nav ul li button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
#scroll{
    height: 250px; /* Set the height of the container to accommodate two images */
    width: 1000px;
    overflow: hidden; 
    position: relative; 
}
#scroll #contain{
    height: 250px; /* Set the height of your scrolling section to accommodate all images */
    width: 1284px; /* Set the width of your scrolling section to match image width */
    position: absolute; 
    top: 0;
    animation: scroll 15s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-675px); 
    }
}
#scroll div{
    display: flex;
}
#scroll div article{
    flex: 1;
    display: block;
    border: 1px solid grey;
    border-radius: 30px;
    height: 250px;
    width: 250px;
    margin: 8px;
}
#scroll div article img{
    justify-items: center;
}
footer{
    height: 150px;
    text-align: center;
}