@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */

@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        /* background-image: url(images/newInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top; 
        background-repeat: no-repeat; */
    }
    .hero-content h4{
        font-style: normal;
        color: white;
    }
    .hero h1, #logotx p, #infoBox h3, #infoBox .smolP, #infoBox p, .hero-top #one a{
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    .hero-top #one a:hover{
        text-decoration: underline;
    }
    .hero-top{
        background-color: (255, 255, 255, 0.1);
        backdrop-filter: blur(10px); /* blur what's behind */
        -webkit-backdrop-filter: blur(10px); /* Safari support */
    }
    .hero-top.sticky #one a{
        color: rgb(48, 48, 66);
    } 
    .hero-content{
        max-width: 800px;
        z-index: 4;
        margin: 24px;
    }
    .logoIntro{
        display: flex; 
        width: max-content;
        z-index: 4;
        padding-top: 150px;
    }
    #logotx h1, #logotx p{
        margin: 0px;
        width: 325px;
    }
    #infoBox h3, #infoBox p{
        margin: 0px;
    }
    #infoBox{
        margin-top: 24px;
    }
    #infoBox div{
        margin-top: 16px;
    }
    main{
        margin: 0px 24px;
        box-sizing: border-box;
    }
    main h2{
        color: rgb(48, 48, 66);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    main h3{
        font-weight: 300;
        color: rgb(48, 48, 66);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    main p{
        color: rgb(48, 48, 66);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
        margin-top: 0px;
    }
    main .smolP{
        color: rgb(48, 48, 66, 0.9);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
        margin: 0px;
    }
    #query{
        width: 1392px;
        margin: 96px auto; 
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
    .spaceBtwnLine{
        margin-top: 72px;
        margin-bottom: 72px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwnLine.active{
        opacity: 1;
    }
    /* #arrowContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 32px;
        left: 50%;
        z-index: 5;
    }
    #arrow {
        animation: moveUpDown 1s ease infinite;
        width: 80px;
        height: 80px;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    } */
    article{
        width: calc(100% - 0px);
        margin: none;
    }
    img{
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 32px;
    }
    .diagramData{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    #diagramDataImg p{
        margin: 0px;
    }
    .diagramData div{
        flex: 1;
    }
    .dataimg{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .datatext{
        flex: 4;
    }
    .data h2, h3{
        margin-top: 0px;
    }
    .data420{
        flex: 2.5;
        /* width: 420px;
        padding-right: 88px; */
    }
    .newMargin{
        width: 1100px;
        margin: auto;
    }
    .teams{
        margin: 16px;
    }
    .teams p{
        margin: 0px;
    }
    .dataLinks{
        display: flex;
        justify-content: space-between; 
        gap: 16px;
    }
    .dataLinks a{
        flex: 1;
    }
    #leftcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #leftcsLink h2{
        margin-top: 0px;
        margin-bottom: 8px;
    }
    #leftcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
    #rightcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #rightcsLink h2{
        margin-top: 0px;
        margin-bottom: 8px;
    }
    #rightcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
    hr{
        background-color: rgb(195, 196, 195);
        border: none; 
        height: 1px;
        margin: 24px 0;
    }
}
@media screen and (min-width: 1650px){
    #logotx h1, #logotx p{
        margin: 0px;
        width: 500px;
    }
}