@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; 
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(images/spotsInfoBox.png), url(images/spotsTransBG.png);
        background-size: 616px 795px, 100% 800px;
        background-position: center top; 
        background-repeat: no-repeat;
        font-family: "Assistant", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    main{
        margin: 0 170px;
        box-sizing: border-box;
        color: rgb(94, 95, 94);
        letter-spacing: 0.03em;
        line-height: 1.6
    }
    #query {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto; 
    }
    header{
        display: flex;
        height: 150px;
        padding-top: 30px;
    }
    header #two{
        flex: 2;
    }
    header #two h2{
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 30px;
    }
    header #one{
        flex: 1;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 4px;
    }
    a{
        text-decoration: none;
        color: rgb(94, 95, 94);
    }
    header #one a{
        text-align: center;
        text-decoration: none;
    }
    #home:hover{
        text-decoration: underline;
    }
    #aboutMe:hover{
        text-decoration: underline;
    }
    #studio:hover{
        text-decoration: underline;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        flex: content;
        list-style: none;
        padding-left: 4px;
        padding-right: 4px;
    }
    nav ul li button{
        width: 100px;
        height: 50px;
        border-radius: 20px;
        background: none; 
        border: none; 
        outline: none;
        text-align: center; 
        display: inline-block;
    }
    #topBG{
        margin-top: -10px;
        margin-bottom: 100px;
    }
    #introFlex{
        display: flex;
    }
    #infoBox{
        flex: 2;
    }
    #logo{
        flex: 1;
    }
    #arrow {
        translate: 45px;
        animation: moveUpDown 1s ease infinite;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    }
    article{
        width: calc(100% - 0px); /* Adjusted width considering left and right margins */
        margin: none; /* Centering the article */
    }
    img, video {
        justify-content: center;
        align-items: center;
      display: block;
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
    .textSize, #textSize{
        width: 500px;
    }
    .boldText{
        padding-top: 0px;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .addBlock{
        display: block;
        border: 1px solid rgb(255, 145, 28);
        border-radius: 60px;
        padding: 20px;
    }
    .addBlockLite{
        display: block;
        border: 1px solid rgb(255, 145, 28, 0.5);
        border-radius: 60px;
        padding: 20px 30px;
        margin-bottom:20px;
    }
    .slideshow-container {
        position: relative;
        max-width: 472px; /* Adjust as needed */
        margin: auto;
    }
    .slide {
        display: none; /* Hide all slides by default */
    }
    
    .slide.active {
        display: block; /* Show only the active slide */
    }
    button{
        width: 110px;
        height: 40px;
        color: rgb(94, 95, 94);
        background-color: rgb(255, 145, 28, 0.15);
        border: 1px solid rgb(255, 145, 28);
        border-radius: 15px;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 20px;
    }
    .data div{
        flex: 1;
    }
    .painPT{
        width: 160px;
        height: 160px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(255, 145, 28);
    }
    .animate #price{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: price 3s linear forwards;
    }
    .animate #prox{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: prox 3s linear forwards;
    }
    .animate #appl{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: appl 3s linear forwards;
    }
    .animate #wom{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: wom 3s linear forwards;
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes price{
        100%{
            stroke-dashoffset: 94;
        }
    }
    @keyframes prox{
        100%{
            stroke-dashoffset: 127;
        }
    }
    @keyframes appl{
        100%{
            stroke-dashoffset: 65;
        }
    }
    @keyframes wom{
        100%{
            stroke-dashoffset: 283;
        }
    }
    .orgLink{
        color: rgb(255, 145, 28);
    }
    #center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        max-width: 600px; 
        padding: 20px; 
    }
    .center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        margin-top: 10px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 9998; 
    }
    .selected{
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    .selected img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    footer{
        width: 100%;
        margin: 0;
        margin-top: 60px;
        height: 250px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-left: 0px;
        display: block;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(94, 95, 94);
    }
    #footTitle{
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 0px;
    }
    footer #footLink{
        display: flex;
        justify-content: space-around;
    }
    footer #footLink a{
        text-decoration: none;
    }
    footer #footLink div {
        flex: 1;
        flex-direction: row;
        align-items: center; 
    }
}
@media screen and (min-width: 1650px){
    body{
        background-image: url(images/spotsInfoBG.png);
        background-size: 100% 850px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 10px;
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 1850px){
    body{
        background-image: url(images/spotsInfoBG.png);
        background-size: 100% 950px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 50px;
        margin-bottom: 125px;
    }
}
