body{
    margin: 100px;
}
header{
    height: 150px;
}
#tOP{
    display: flex;
}
#tOP #two{
    flex: 2;
}
#tOP #one{
    flex: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    text-decoration: none;
    list-style: none;
}
#scrollPOL div{
    display: flex;
}
#scrollPOL div article{
    flex: 1;
    display: block;
    border: 1px solid grey;
    border-radius: 30px;
    height: 250px;
    width: 250px;
    margin: 15px;
}
#scrollPOL div article p{
    padding: 15px;
}