body{
    margin: 0;
}
main{
    margin-left: 50px;
    margin-right: 50px;
}
header{
    display: flex;
    height: 150px;
    padding-top: 30px;
}
header #two{
    flex: 2;
}
header #one{
    flex: 1;
}
header #one a{
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    text-decoration: none;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
nav ul li button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
#scroll{
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 250px; /* Set the height of the container to accommodate two images */
    width: 1000px;
    overflow: hidden; 
    position: relative; 
}
#scroll div{
    display: flex;
}
#scroll div article{
    flex: content;
    display: block;
    height: 250px;
    width: 250px;
    border: 1px solid grey;
    border-radius: 30px;
    margin: 8px;
}
#scroll div article img{
    justify-items: center;
}
footer{
    height: 150px;
    text-align: center;
}