main{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    display: flex;
    height: 500px;
    padding-top: 30px;
    
}
header #two{
    flex: 2;
}
header #one{
    flex: 1;
}
nav ul{
    display: flex;
}
nav ul li{
    flex: content;
    text-decoration: none;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}
nav ul li button{
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
#scroll{
    display: flex;
}
#scroll article{
    flex: 1;
    display: block;
    border: 1px solid grey;
    border-radius: 30px;
    height: 250px;
    width: 250px;
    margin: 8px;
}
#scroll article img{
    justify-items: center;
}
footer{
    height: 150px;
    text-align: center;
}