
@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    /* .mobile-incomplete {
        display: none;
    } */
}

@media screen and (min-width: 1024px) {
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        
        background: url("images/gradientBg.png") no-repeat center center fixed;
        background-size: cover;
    }
    .hero-content {
        position: absolute;
        top: 55%;         
        text-align: center;
        max-width: 1440px;
        z-index: 4;
        margin: auto;
    }
    h1, h2, h3, p, .smolP, a, #one nav ul li a, footer h3, footer p, footer a, footer #btmfoot{
        color: #fff;
        text-decoration: none;
    }
    footer a:hover{
        text-decoration: underline;
        color: rgb(0, 0, 255);
    }
    main{
        margin: 0;
        color: rgb(255, 255, 255);
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    #query{
        width: 100%;
        margin: 0 24px;
    }
    .data{
        display: flex;
        margin: 72px 24px;
        justify-content: space-between; 
        gap: 24px;
    }
    .dataHero{
        display: flex;
        margin: auto;
        justify-content: space-between; 
    }
    #dataTitle{
        flex-shrink: 0;
        margin-top: 16px;
        margin-left: 24px;
        max-width: 780px; 
        text-align: left;
    }
    #dataDesktopBar{
        display: block;
        display: flex;
        gap: 24px;
        padding: 16px 24px;
        justify-content: center;
        background-color: rgb(217, 217, 217, 0.3);
        border: 1px solid rgb(217, 217, 217);
        border-radius: 30px;
    }
    #dataDesktopBar img{
        flex-direction: row;
    }
    #dataTitle h1{
        font-weight: 400;
        margin: 0px;
    }
    #dataTitle h2{
        font-size: 30px;
        font-weight: 300;
        margin: 8px 0px;
    }
    #dataTitle p{
        font-size: 22px;
        color: rgb(195,196,195)
    }
    .italic{
        font-style: italic;
    }
    #dataAvatar{
        flex-shrink: 0;
        margin-left: -56px;
    }
    .dataCS{
        flex: 1.5;
        padding: 24px;
        text-align: left;
        background-color: rgb(217, 217, 217, 0.3);
        border: 1px solid rgb(217, 217, 217);
        border-radius: 10px;
    }
    .dataCS h1{
        margin-top: 8px;
    }
    .dataCaseImg{
        flex: 1;
        margin: auto;
        margin-right: 24px;
    }
    #pseudolink{
        color: rgb(255, 255, 255, 0.7);
        padding-top: 24px;
    }
    #query .link {
        display: inline-block; /* needed for transform to work cleanly */
        transition: transform 0.2s ease-in-out;
        color: rgb(255, 255, 255, 0.7);
        padding-top: 24px;
    }
    #query .link:hover {
        transform: scale(1.1);
        color: rgb(255, 255, 255);
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
}
@media screen and (min-width: 1650px){

}
@media screen and (min-width: 1850px){
    
}
@keyframes footerGradientSwipe {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 50%;
        background-image: none;
        color: rgb(255, 255, 255); /* Final solid color */
    }
}
