@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da;
        color: #721c24; 
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
        border: 1px solid #f5c6cb;
    }
    
    .mobileIncomplete p {
        margin: 0; 
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; 
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        /* background-image: url(images/newInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top;
        background-repeat: no-repeat; */
    }
    .hero-content {
        top: 55%;
        left: 0px;/* align to page gutter */
        max-width: 1392px;
        z-index: 4;
        margin: 24px;
    }
    .logoIntro{
        display: flex;
        position: absolute;
        top: 50%;           
        left: 50%;         
        transform: translate(-100%, -100%);
        width: max-content;
        z-index: 4;
        margin: 0;
    }
    #introLine{
        margin-top: 145px;
        margin-bottom: 65px;
    }
    #logoimg{
        justify-items: center;
        align-content: center;
        margin-right: 16px;
    }
    #logotx h1, #logotx p{
        margin: 0px;
        width: 700px;
    }
    #infoBox{
        display: flex;
        flex-direction: row;
        gap: 95px;
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, 180%);
        width: max-content;
        z-index: 4;
        margin: 0;
    }
    #infoBox div{
        flex: content;
    }
    #infoBox h3, #infoBox p{
        margin: 0px;
    }
    main{
        margin: 0px 24px;
        box-sizing: border-box;
    }
    main h3{
        font-weight: 300;
    }
    main p{
        margin-top: 0px;
    }
    main .smolP{
        color: rgb(48, 48, 66, 0.9);
        text-decoration: none;
        letter-spacing: 0.03em;
        line-height: 160%;
        margin: 0px;
    }
    #query{
        width: 100%;
        margin: 0 auto; 
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
    .spaceBtwnLine{
        margin-top: 72px;
        margin-bottom: 72px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwnLine.active{
        opacity: 1;
    }
    /* #arrowContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 32px;
        left: 50%;
        z-index: 5;
    }
    #arrow {
        animation: moveUpDown 1s ease infinite;
        width: 80px;
        height: 80px;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    } */
    article{
        width: calc(100% - 0px); 
        margin: none; 
    }
    img, video {
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 32px;
    }
    .dataimg{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .datagraph{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .datagraph div{
        flex: 1;
    }
    .datatext{
        flex: 4;
    }
    .data h2, h3{
        margin-top: 0px;
    }
    .data420{
        flex: 2.5;
        /* width: 420px;
        padding-right: 88px; */
    }
    .dataAlign{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .dataAlign .line {
        flex: 1;
        display: flex;
        align-items: center;
    }
    .dataAlign .line img {
        width: 100%;
        height: 1px;
        object-fit: cover;
    }
    .painPT{
        width: 160px;
        height: 160px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(255, 145, 28);
    }
    .animate #price{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: price 3s linear forwards;
    }
    .animate #prox{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: prox 3s linear forwards;
    }
    .animate #appl{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: appl 3s linear forwards;
    }
    .animate #wom{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: wom 3s linear forwards;
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes price{
        100%{
            stroke-dashoffset: 94;
        }
    }
    @keyframes prox{
        100%{
            stroke-dashoffset: 127;
        }
    }
    @keyframes appl{
        100%{
            stroke-dashoffset: 65;
        }
    }
    @keyframes wom{
        100%{
            stroke-dashoffset: 283;
        }
    }
    #center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        max-width: 600px; 
        padding: 20px; 
    }
    .center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        margin-top: 10px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 9998; 
    }
    .selected{
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    .selected img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .newMargin{
        margin-left: 170px; 
        margin-right: 170px;
    }
    .calloutSpots{
        border: 2px solid rgb(227, 183, 139);
        background-color: rgb(252,251,249);
        border-radius: 20px;
        padding: 24px;
    }
    #hmw{
        background: rgb(246, 246, 247);
        border: 1px solid rgb(196, 196, 196);
        padding: 16px 24px;
        /* text-align: center; */
    }
    #leftcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #leftcsLink h1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #leftcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
    #rightcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #rightcsLink h1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #rightcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
    #theP{
        color: rgb(195,196,195)
    }
}
@media screen and (min-width: 1650px){
    body{
        background-image: url(images/spotsInfoBG.png);
        background-size: 100% 850px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 10px;
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 1850px){
    body{
        background-image: url(images/spotsInfoBG.png);
        background-size: 100% 950px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 50px;
        margin-bottom: 125px;
    }
}
