@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */
@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative; /* Needed for overlay positioning */
        /* background-image: url(images/newInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top;  
        background-repeat: no-repeat; */
    }
    .hero-top {
        background-color: (255, 255, 255, 0.1);
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px); 
    }
    .hero-content {
        top: 55%;
        left: 0px;/* align to page gutter */
        max-width: 1440px;
        z-index: 4;
        margin: 24px;
    }
    .logoIntro{
        display: flex;
        margin: 24px 0px 100px;
    }
    #introLine{
        margin-top: 72px;
        margin-bottom: 60px;
    }
    #logoimg{
        justify-items: center;
        align-content: center;
        margin-right: 16px;
    }
    #logotx h1, #logotx p{
        margin: 0px;
        width: 700px;
    }
    #infoBox{
        display: flex;
        flex-direction: row;
        gap: 74px;
    }
    #infoBox div{
        flex: content;
    }
    #infoBox h3, #infoBox p{
        margin: 0px;
    }
    main{
        margin: 0px 24px;
        box-sizing: border-box;
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    main h3{
        font-weight: 300;
    }
    main p{
        margin-top: 0px;
    }
    main .smolP{
        margin: 0px;
    }
    #query{
        width: 100%;
        margin: 0 auto; 
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
    .spaceBtwnLine{
        margin-top: 72px;
        margin-bottom: 72px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwnLine.active{
        opacity: 1;
    }
    /* #arrowContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 32px;
        left: 50%;
        z-index: 5;
    }
    #arrow {
        animation: moveUpDown 1s ease infinite;
        width: 80px;
        height: 80px;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    } */
    article{
        width: calc(100% - 0px);
        margin: none;
    }
    .img{
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .textSize, #textSize{
        width: 500px;
    }
    /* .addBlock{
        display: block;
        border: 1px solid rgb(105, 168, 95);
        border-radius: 60px;
        padding: 20px;
    } */
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 32px;
    }
    .dataimg{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .datagraph{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .datagraph div{
        flex: 1;
    }
    .datatext{
        flex: 4;
    }
    .data h2, h3{
        margin-top: 0px;
    }
    .data420{
        flex: 2.5;
        /* width: 420px;
        padding-right: 88px; */
    }
    #question{
        position: relative;
    }
    #quesIconLeft{
        position: absolute;
        top: -15px;
        left: 0px;
    }
    .border{
        display: block;
        border: 1px solid rgb(105, 168, 95);
        border-radius: 30px;
        padding: 24px;
    }
    .painPT {
        width: 185px;
        height: 185px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .number {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px; 
        color: rgb(105, 168, 95);
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 160%; 
    }
    #biggerNum{
        font-size: 22px; 
    }
    #age{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
    }
    #res1, #res2, #inter1, #inter2, #inter3{
        fill: none;
        stroke-width: 15px;
        stroke-linecap: round;
        stroke-dasharray: 530;
        stroke-dashoffset: 530;
    }
    .animate #res1{
        stroke: #8bd58b;
        animation: res1 3s linear forwards;
    }
    .animate #res2{
        stroke: #4CAF50;
        animation: res2 3s linear forwards;
    }
    .animate #inter1 {
        stroke: #F0A01E; /* Use linear gradient for stroke color */
        animation: inter1 3s linear forwards;
    }
    
    .animate #inter2 {
        stroke: #8bd58b; /* Use linear gradient for stroke color */
        animation: inter2 3s linear forwards;
    }
    
    .animate #inter3 {
        stroke: #4CAF50; /* Use linear gradient for stroke color */
        animation: inter3 3s linear forwards;
    }
    #yellow{
        color: #F0A01E;
    }
    .lgreen{
        color: #8bd58b;
    }
    .dgreen{
        color: #4CAF50;
    }
    .segment {
        margin-bottom: 10px;
    }
    .segment::before{
        display: inline-block;
        content: "";
        width: 10px;
        height: 10px;
        margin-right: 5px;
        vertical-align: middle;
    }
    .segment:nth-child(1)::before{
        background-color: #F0A01E;
    }
    
    .segment:nth-child(2)::before{
        background-color: #8bd58b;
    }
    
    .segment:nth-child(3)::before{
        background-color: #4CAF50;
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes age{
        100%{
            stroke-dashoffset: 472;
        }
    }
    @keyframes res1{
        100%{
            stroke-dashoffset: 0;
        }
    }
    @keyframes res2{
        100%{
            stroke-dashoffset: 121;
        }
    }
    @keyframes inter1 {
        100% {
            stroke-dashoffset: 0; 
        }
    }
    @keyframes inter2 {
        100% {
            stroke-dashoffset: 90;
        }
    }
    @keyframes inter3 {
        100% {
            stroke-dashoffset: 180; 
        }
    }
    #center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        max-width: 600px; 
        padding: 20px;
    }
    #center p{
        margin-bottom: 0px;
    }
    .center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        margin-top: 10px;
    }
    .newMargin{
        margin-left: 170px; 
        margin-right: 170px;
    }
    #hmw{
        background: rgb(246, 246, 247);
        border: 1px solid rgb(196, 196, 196);
        padding: 16px 24px;
        /* text-align: center; */
    }
    #leftcsLink{
        padding: 16px 24px;
        width: 500px;
    }
    #leftcsLink h1{
        margin-bottom: 0px;
    }
    #leftcsLink:hover{
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #rightcsLink{
        padding: 16px 24px;
        width: 500px;
    }
    #rightcsLink h1{
        margin-bottom: 0px;
    }
    #rightcsLink:hover{
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
}
@media screen and (min-width: 1650px){
    body{
        background-image: url(images/gstInfoBG.png);
        background-size: 100% 850px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 10px;
        margin-bottom: 110px;
    }
}
@media screen and (min-width: 1850px){
    body{
        background-image: url(images/gstInfoBG.png);
        background-size: 100% 950px;
        background-position: center top; 
        background-repeat: no-repeat;
    }
    #topBG{
        margin-top: 50px;
        margin-bottom: 125px;
    }
}