@media screen and (max-width: 767px){
    .mobileIncomplete {
        display: block;
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text color */
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px; /* Adds some space between the message and the content */
        border: 1px solid #f5c6cb; /* Border for emphasis */
    }
    
    .mobileIncomplete p {
        margin: 0; /* Remove default margin for paragraphs */
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1023px){
    tablet
    .mobile-incomplete {
        display: none;
    }
} */

@media screen and (min-width: 1024px){
    .mobileIncomplete {
        display: none; /* Hide the message on larger screens */
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
        /* background-image: url(images/newInfoBox.png);
        background-size: 500px 800px;
        background-position: 0px top; 
        background-repeat: no-repeat; */
    }
    .hero-content h4{
        font-style: normal;
    }
    .hero-top {
        background-color: (255, 255, 255, 0.1);
        backdrop-filter: blur(10px); /* blur what's behind */
        -webkit-backdrop-filter: blur(10px); /* Safari support */
    }
    .hero-content{
        max-width: 800px;
        z-index: 4;
        margin: 24px;
    }
    .logoIntro{
        display: flex; 
        width: max-content;
        z-index: 4;
        height: 221px;
        padding-top: 150px;
    }
    #logotx h1, #logotx p{
        margin: 0px;
        width: 325px;
    }
    #infoBox h3, #infoBox p{
        margin: 0px;
    }
    #infoBox{
        margin-top: 24px;
    }
    #infoBox div{
        margin-top: 16px;
    }
    main{
        margin: 0px 24px;
        box-sizing: border-box;
        letter-spacing: 0.03em;
        line-height: 160%;
    }
    main h3{
        font-weight: 300;
    }
    main p{
        margin-top: 0px;
    }
    main .smolP{
        margin: 0px;
    }
    #query{
        width: 1392px;
        margin: 96px auto; 
    }
    .spaceBtwn{
        margin-top: 150px;
        margin-bottom: 150px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwn.active{
        opacity: 1;
    }
    .spaceBtwnLine{
        margin-top: 72px;
        margin-bottom: 72px;
        opacity: 0;
        transition: opacity 1s ease;
        padding: 0.5rem;
    }
    .spaceBtwnLine.active{
        opacity: 1;
    }
    /* #arrowContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 32px;
        left: 50%;
        z-index: 5;
    }
    #arrow {
        animation: moveUpDown 1s ease infinite;
        width: 80px;
        height: 80px;
    }
    @keyframes moveUpDown {
        0%, 100% {
            transform: translateX(-50%) translateY(0);
        }
        50% {
            transform: translateX(-50%) translateY(-10px); 
        }
    } */
    article{
        width: calc(100% - 0px);
        margin: none;
    }
    img{
        justify-content: center;
        align-items: center;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .data{
        display: flex;
        justify-content: space-between; 
        gap: 32px;
    }
    .dataimg{
        display: flex; 
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .datagraph{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .datagraph div{
        flex: 1;
    }
    .datatext{
        flex: 4;
    }
    .data h2, h3{
        margin-top: 0px;
    }
    .data420{
        flex: 2.5;
        /* width: 420px;
        padding-right: 88px; */
    }
    .painPT{
        width: 160px;
        height: 160px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: rgb(243, 159, 173);
    }
    .animate #sOne{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sOne 2s linear forwards;
    }
    .animate #sTwo{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sTwo 2s linear forwards;
    }
    .animate #sThree{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sThree 2s linear forwards;
    }
    .animate #sFour{
        fill: none;
        stroke: url(#GradientColor);
        stroke-width: 20px;
        stroke-dasharray: 472;
        stroke-dashoffset: 472;
        animation: sFour 2s linear forwards;
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
    }
    @keyframes sOne{
        100%{
            stroke-dashoffset: 420;
        }
    }
    @keyframes sTwo{
        100%{
            stroke-dashoffset: 434;
        }
    }
    @keyframes sThree{
        100%{
            stroke-dashoffset: 293;
        }
    }
    @keyframes sFour{
        100%{
            stroke-dashoffset: 274;
        }
    }
    .center{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto; 
        margin-top: 10px;
    }
    #pinkLink{
        color: rgb(243, 159, 173);
    }
    .figFix{
        margin: 0px;
    }
    .figCenter{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 0px 110px;
    }
    .figCenterEx{
        margin: auto;
        justify-content: center;
        align-items: center;
        padding: 0px 300px;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: none; 
        justify-content: center;
        align-items: center;
        z-index: 9998; 
    }
    .selected {
        position: fixed;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%) scale(3);
        z-index: 9999;
    }
    .selected img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
    .newMargin{
        width: 1100px;
        margin: auto;
    }
    #hmw{
        background: rgb(246, 246, 247);
        border: 1px solid rgb(196, 196, 196);
        padding: 16px 24px;
    }
    #leftcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #leftcsLink h1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #leftcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
    #rightcsLink{
        padding: 16px;
        background-color: rgb(253,253,253);
        border: 1px solid rgb(237,237,240);
        border-radius: 20px;
    }
    #rightcsLink h1{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #rightcsLink:hover{
        background-color: rgb(50, 50, 50, 0.1);
        border: 1px solid rgb(50, 50, 50);
    }
}   
@media screen and (min-width: 1650px){
    #logotx h1, #logotx p{
        margin: 0px;
        width: 500px;
    }
}